name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - run: go test -v ./...

      - uses: cli/gh-extension-precompile@v2
        with:
          go_version_file: go.mod
